@import "tailwindcss";

@theme {
  --color-primary: #fc8019;
  --color-secondary: #60b246;
  --color-dark: #02060c;
  --color-gray-100: #f0f0f5;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #d4d5d9;
  --color-gray-400: #93959f;
  --color-gray-500: #686b78;
  --color-gray-800: #282c3f;
  --font-sans: "Basis Grotesque Pro", "Inter", sans-serif;
}

body {
  background-color: white;
  color: var(--color-dark);
  font-family: var(--font-sans);
}